{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<title>:: Swift - Hospital Admin ::</title>
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		<link href="doctor-back/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
		<link href="doctor-back/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet">
		<link href="doctor-back/css/main.css" rel="stylesheet">
		<!-- Custom Css -->
		<!-- Swift Themes. You can choose a theme from css/themes instead of get all themes -->
	<link href="doctor-back/css/themes/all-themes.css" rel="stylesheet"/> </head>


	<section class="content page-calendar">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 col-lg-4 col-xl-3">
					<div class="card m-t-20">
						<div class="body">	
							{% set count = 0 %}
				{% for Rv in Rv %}
							<div class="collapse-xs collapse-sm collapse" id="open-chats">
								<div class="event-name b-greensea">
									 {{Rv.Email}} 
									<a class=" text-muted event-remove">
									
									</a>
									</br>
									 <p>{{Rv.Fname}} {{Rv.Lname}}</p>
									 <div class="btn btn-raised btn-success btn-sm m-r-0 m-t-0" > {{Rv.Date}}</div>
                                    <i class="zmdi zmdi-delete"></i> 
									<i class="zmdi zmdi-check"></i>
								</div>
								
								
							</div>
							{% set count = count + 1 %}
				{% endfor %}
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-8 col-xl-9">
					<div class="card m-t-20">
						<div class="body">
							<button class="btn btn-raised btn-success btn-sm m-r-0 m-t-0" id="change-view-today">today</button>
							<button class="btn btn-raised btn-default btn-sm m-r-0 m-t-0" id="change-view-day">Day</button>
							<button class="btn btn-raised btn-default btn-sm m-r-0 m-t-0" id="change-view-week">Week</button>
							<button class="btn btn-raised btn-default btn-sm m-r-0 m-t-0" id="change-view-month">Month</button>
							<div id="calendar"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<form method="Get" action="{{path('test_mail')}}">
			<div class="container-fluid">
				<div class="block-header">
					<h2>Confirmer le rendez_vous</h2>
				</div>
				<div class="row clearfix">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="card">
							<div class="body">
									<div class="col-lg-4 col-sm-12">
										<div class="form-group">
											<div class="form-line">
												<input type="text" class="form-control" name="message" placeholder="message">
											</div>
										</div>
									</div>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-xs-12">
								<button type="submit" class="btn btn-raised g-bg-cyan">Envoyer</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="color-bg"></div>
	<!-- Jquery Core Js -->
	<script src="doctor-back/bundles/libscripts.bundle.js"></script>
	<!-- Lib Scripts Plugin Js -->
	<script src="doctor-back/bundles/morphingsearchscripts.bundle.js"></script>
	<!-- morphing search Js -->
	<script src="doctor-back/bundles/vendorscripts.bundle.js"></script>
	<!-- Lib Scripts Plugin Js -->

	<script src="doctor-back/bundles/fullcalendarscripts.bundle.js"></script>
	<!--/ calender javascripts -->

	<script src="doctor-back/bundles/mainscripts.bundle.js"></script>
	<!-- Custom Js -->
	<script src="doctor-back/bundles/morphingscripts.bundle.js"></script>
	<!-- morphing search page js -->
	<script src="doctor-back/js/pages/calendar/calendar.js"></script>
</html></body></html>{% endblock %}
