{% include 'base.html.twig' %}

{% block body %}
	<section class="content">
		<div class="container-fluid">
			<div class="block-header">
				<h2>Liste des secretaire</h2>
			</div>

			<div class="row clearfix">
				{% set count = 0 %}
				{% for secretaire in secretaire %}
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
						<div class="card">
							<div
								class="body">
								<!--  tgadou chaimaeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee !-->
								<div>
									<a href="{{path('deleteS', {'id':secretaire.id})}}">
										<i class="zmdi zmdi-delete"></i>
									</a>
								</div>
								<div class="member-card verified">
									<div class="thumb-xl member-thumb">
										<img src="doctor-back/images/random-avatar6.jpg" class="img-thumbnail rounded-circle" alt="profile-image">

									</div>

									<div class="">
										<h4 class="m-b-5 m-t-20">{{secretaire.Nom}}</h4>
									</div>

									<p class="text-muted">{{secretaire.Adress}}</p>
									<a href="{{path('pro', {'id':secretaire.id})}}" class="btn btn-raised btn-sm">View Profile</a>
								</div>
							</div>
						</div>
					</div>
					{% set count = count + 1 %}
				{% endfor %}
			</div>

			<div class="row clearfix">
				<div class="col-sm-12 text-center">
					<a href="{{ path('addsecretaire') }}" class="btn btn-raised g-bg-cyan">Ajouter secretaire</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
<div class="color-bg"></div>
<!-- Jquery Core Js -->
<script src="doctor-back/bundles/libscripts.bundle.js"></script>
<!-- Lib Scripts Plugin Js -->
<script src="doctor-back/bundles/morphingsearchscripts.bundle.js"></script>
<!-- morphing search Js -->
<script src="doctor-back/bundles/vendorscripts.bundle.js"></script>
<!-- Lib Scripts Plugin Js -->

<script src="doctor-back/bundles/mainscripts.bundle.js"></script>
<!-- Custom Js -->
<script src="doctor-back/bundles/morphingscripts.bundle.js"></script>
<!-- morphing search page js --></html></html></body></html>
